
 .mat-sidenav-container {
     height: 100vh;
     display: flex; 
   }

   .mat-sidenav-content {
     flex: 1; 
     padding: 16px;
     box-sizing: border-box; 
     margin-left: 200px; 
   }  


   .mat-list-icon {
    margin-right: 16px;
  }
  
  .menu-item {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .menu-item.expanded {
    width: auto;
    margin-left: 8px;
  }