<div class="mat-elevation-z8">
    <h2 style="color: rgb(82, 82, 82); margin-left: 10px;margin-top: 20px;">Add New Customer</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field  class="mat-width-set">
          <mat-label>City Name</mat-label>
          <input matInput formControlName="name">
          <div class="validation-error" *ngIf="validationResult.name">{{validationResult.name}}</div>
        </mat-form-field>
      </div>      
      <div>
        <button mat-raised-button color="primary" >Submit</button>
        <button mat-raised-button color="warn" routerLink="/customers">Cancel</button>
      </div>
    </form>
  
  </div>