<div class="mat-elevation-z8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" [value]="customer.firstName">
        <div class="validation-error" *ngIf="validationResult.firstName">{{validationResult.firstName}}</div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" [value]="customer.lastName">
        <div class="validation-error" *ngIf="validationResult.lastName">{{validationResult.lastName}}</div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [value]="customer.email">        
        <div class="validation-error" *ngIf="validationResult.email">{{validationResult.email}}</div>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn" routerLink="/customers">Cancel</button>
    </form>
  </div>