<div class="mat-elevation-z8">
  <h2 style="color: rgb(82, 82, 82); margin-left: 10px;margin-top: 20px;">Edit Customer</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" [value]="customer.firstName">
        <div class="validation-error" *ngIf="validationResult.firstName">{{validationResult.firstName}}</div>
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" [value]="customer.lastName">
        <div class="validation-error" *ngIf="validationResult.lastName">{{validationResult.lastName}}</div>
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [value]="customer.email">        
        <div class="validation-error" *ngIf="validationResult.email">{{validationResult.email}}</div>
      </mat-form-field>
    </div>
  
    <div>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn" routerLink="/customers">Cancel</button>
    </div>
  </form>
</div>





<!-- <div class="mat-elevation-z8">
  <h2 style="color: rgb(82, 82, 82); margin-left: 10px;margin-top: 20px;">Edit Customer</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" [value]="customer.firstName">
        <div class="validation-error" *ngIf="validationResult.firstName">{{validationResult.firstName}}</div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" [value]="customer.lastName">
        <div class="validation-error" *ngIf="validationResult.lastName">{{validationResult.lastName}}</div>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [value]="customer.email">        
        <div class="validation-error" *ngIf="validationResult.email">{{validationResult.email}}</div>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn" routerLink="/customers">Cancel</button>
    </form>
  </div> -->