<div class="mat-elevation-z8">
  <h2 style="color: rgb(82, 82, 82); margin-left: 10px;margin-top: 20px;">Add New Customer</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field style="margin-top: 25px;" class="mat-width-set">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        <div class="validation-error" *ngIf="validationResult.firstName">{{validationResult.firstName}}</div>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-width-set">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
        <div class="validation-error" *ngIf="validationResult.lastName">{{validationResult.lastName}}</div>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-width-set">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <div class="validation-error" *ngIf="validationResult.email">{{validationResult.email}}</div>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" >Submit</button>
      <button mat-raised-button color="warn" routerLink="/customers">Cancel</button>
    </div>
  </form>

</div>